@import url('https://fonts.googleapis.com/css2?family=Bungee+Hairline&family=Nunito+Sans:opsz,wght@6..12,300&family=Poppins:ital,wght@0,400;1,100&display=swap');
*, *::after, *::before {
    box-sizing: border-box;
  }
  
  :root {
    --hue: 200;
    --saturation: 50%;
    --foreground-color: hsl(var(--hue), var(--saturation), 75%);
    --background-color: hsl(var(--hue), var(--saturation), 20%);
  }
  
  body {
    margin: 0;
    /* background-color: var(--background-color); */
    overflow: hidden;
    background-image: url("./ezgif-4-bbcbc12f84.gif");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Bungee Hairline;
  }
  
  .paddle {
    --position: 50;
  
    position: absolute;
    background-color: var(--foreground-color);
    top: calc(var(--position) * 1vh);
    transform: translateY(-50%);
    width: 1vh;
    height: 10vh;
  }
  
  .paddle.left {
    left: 1vw;
  }
  
  .paddle.right {
    right: 1vw;
  }
  
  .ball {
    --x: 50;
    --y: 50;
     background-image: url("https://github.com/ChiragSareen7/todo/blob/main/download-removebg-preview-removebg-preview.png?raw=true");
    position: absolute;
    
    background-size: cover;
    left: calc(var(--x) * 1vw);
    top: calc(var(--y) * 1vh);
    
    transform: translate(-50%, -50%);
    width: 50px;
    height: 50px;
  }
  
  .score {
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: 7vh;
    
    color: whitesmoke;
  }
  

  
  .score > :first-child {
    text-align: right;
    /* border-right: .5vh solid var(--foreground-color); */
    border-right: .1vh solid whitesmoke;
  }
  #timer {
    width: 5vw;
    position: absolute;
    top: 2vh;
    right: 3vh;
    font-size: 3vw;
    border: 1px solid white;
    border-radius: 50px;
    color: whitesmoke;
}